.searchContainer{
  display: flex;
  justify-content: center;
}

.searchBox{
  position: relative;
}
.searchInput{
  /* position: absolute; */
  height: 30px;
  width: 16.5rem;
  border-radius: 10px;
  font-size: large;
  padding: 5px 40px 5px 10px;
  border: solid 1px white;
  outline: none;
}
.searchButton{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  position: absolute;
  border-radius: 0px 10px 10px 0px;
  background: none;
  border: none;
}

@media only screen and (max-width: 700px) {
  .searchInput{
    width: 8rem;
  }
}